<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <span class="close-button" (click)="onNoClick()">&times;</span>
        </div>
        <div class="modal-content">
            <div class="image-section">
                <img [src]="Complaint.fileurl" alt="Student Image">
            </div>
            <div class="info-section">
                <div class="info-line">
                    <span class="info-key">Complaint Reason:</span>
                    <span class="info-value">{{Complaint.rname}}</span>
                </div>
                <div class="info-line">
                    <span class="info-key">Complaint severity :</span>
                    <span class="info-value">{{Complaint.severity}}</span>
                </div>
                <div class="info-line">
                    <span class="info-key">Complaint Type : </span>
                    <span class="info-value">{{Complaint.type}}</span>
                </div>
                <div class="info-line">
                    <span class="info-key">Complaint Location :</span>
                    <span class="info-value">{{Complaint.location}}</span>
                </div>

            </div>
        </div>
    </div>
</div>
