<div class="table-conatiner">
    <table mat-table class="mat-elevation-z8" [dataSource]="StudentComplaints">

        <ng-container matColumnDef="cid">
            <th mat-header-cell *matHeaderCellDef>Complaint Id</th>
            <td mat-cell *matCellDef="let student">{{ student.complaintId }}</td>
        </ng-container>

        <ng-container matColumnDef="rname">
            <th mat-header-cell *matHeaderCellDef>Complaint Reason</th>
            <td mat-cell *matCellDef="let student">{{ student.complaint.length > 250 ? (student.complaint | slice:0:150)
                + '...' : student.complaint }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Complaint Type</th>
            <td mat-cell *matCellDef="let student">{{ student.type }}</td>
        </ng-container>

        <ng-container matColumnDef="severity">
            <th mat-header-cell *matHeaderCellDef>Complaint Severity</th>
            <td mat-cell *matCellDef="let student">{{ student.severity }}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let student">
                <button mat-icon-button (click)="ViewSingle(student)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <!-- <button mat-icon-button >
                    <mat-icon>edit</mat-icon>
                </button> -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>